---
---

@import "{{ site.theme }}";

.home-button {
  margin: 4px 4px 0 0;
  padding: 4px 16px 4px 16px;
  background-color: $orga4-taupe;
  color: #fff;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 14px;
  float: right;
  //position: absolute;
  //top: 290px;
  //right: 6px;

  @include large {
    //top: 290px;
  }

  @include medium {
    //top: 230px;
  }

  @include small {
    //top: 270px;
  }

  &:hover {
    text-decoration: none;
  }
}
