---
---

@import "{{ site.theme }}";

.home-button {
  margin: 0;
  padding: 4px 16px 4px 16px;
  background-color: $orga4-taupe;
  color: #fff;
  text-decoration: none;
  border-radius: 14px;
  position: absolute;
  top: 300px;
  right: 6px;

  @include large {
    top: 300px;
  }

  @include medium {
    top: 230px;
  }

  @include small {
    top: 200px;
  }
}
