---
---

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #2E626D;
$header-bg-color-secondary: #2E626D;

// Text
$section-headings-color: #1d6d7e;
$body-text-color: #1d3540;
$body-link-color: #208596;
$blockquote-text-color: #1d3540;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #1d6d7e;
$table-border-color: #1d6d7e;
$hr-border-color: #1d6d7e;

@import "{{ site.theme }}";

.btn {
    color: #fff;
    background-color: #1d8495;
    border: none;
    border-radius: 64px;
}

@media screen and (min-width: 64em)
.btn {
    padding: 4px 20px 4px 20px;
}
